@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Orbitron:wght@800&display=swap");
div.informational-block .heading {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 64px;
  color: #212126;
}
div.informational-block .description {
  margin-top: 31px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #44444A;
}
div.informational-block div.buttons {
  margin-top: 72px;
}
div.informational-block div.buttons .try-it__gradient {
  position: absolute;
  z-index: -1;
  width: 146.29px;
  height: 64px;
  background: linear-gradient(99.05deg, #BC3CD8 0.07%, #DF308D 106.32%);
  opacity: 0.6;
  filter: blur(27.4286px);
  border-radius: 27.4286px;
}
div.informational-block div.buttons .try-it {
  display: block;
  text-align: center;
  padding: 0;
  border: 0;
  height: 54.8571434021px;
  width: 137.1428527832px;
  border-radius: 27.428571701px;
  background: linear-gradient(99.05deg, #BC3CD8 0.07%, #E136DA 106.32%);
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  color: #FFF;
}
div.informational-block div.buttons .learn-more {
  margin-left: 20px;
  display: block;
  text-align: center;
  padding: 0;
  border: 0;
  height: 54.8571434021px;
  width: 137.1428527832px;
  font-family: Inter, sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  color: #212126;
  background: transparent;
}

body {
  background: linear-gradient(180deg, #E4E4E4 16.39%, #E4E4E4 20.51%, #E4E4E4 24.79%, #E4E4E4 30.46%, #E4E4E4 34.11%, #E4E4E4 36.21%, #E4E4E4 100%);
  box-shadow: 23.6066px 52.2717px 64.0749px rgba(24, 23, 55, 0.58);
}
body .bubble-common {
  display: none;
  z-index: -1;
  position: absolute;
  background: radial-gradient(37.26% 37.26% at 50% 50%, rgba(170, 20, 240, 0.31) 0%, rgba(170, 20, 240, 0) 100%);
}
body .bubble-1 {
  width: 966.09px;
  height: 931.59px;
  left: -16.79px;
  top: -458.86px;
}
body .bubble-2 {
  width: 1126.33px;
  height: 1086.1px;
  left: 854.3px;
  top: 414.09px;
}
body .bubble-3 {
  display: none;
  width: 675.53px;
  height: 651.4px;
  left: -304.4px;
  top: 151px;
}
body .bubble-4 {
  width: 966.09px;
  height: 931.59px;
  left: -16.79px;
  top: 1265.14px;
}
body .bubble-5 {
  width: 1126.33px;
  height: 1086.1px;
  left: 854.3px;
  top: 2138.09px;
}
body .bubble-6 {
  width: 675.53px;
  height: 651.4px;
  left: -304.4px;
  top: 1875px;
}
body nav.navbar {
  background-color: #FFF;
  border-radius: 0 0 40px 40px;
}
body nav.navbar .nav-item {
  padding: 6px 36px;
}
body nav.navbar .nav-item .nav-link {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 21.0937px;
  line-height: 26px;
  color: #212126;
}
body nav.navbar .nav-item .nav-link.active {
  font-weight: 700;
  background: linear-gradient(99.05deg, #C824EC 0.07%, #DF308D 106.32%, #DF308D 106.32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body nav.navbar img.logo {
  width: 100%;
  max-height: 60px;
}
body div.main div.left {
  padding-right: 112px;
  margin-top: 108px;
}
body div.main div.right img {
  width: 100%;
  height: auto;
}
body div.main div.right div.text {
  position: relative;
  top: -240px;
  left: -8px;
  text-align: center;
  color: #FFF;
}
body div.main div.right div.text .heading {
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 29.8492px;
  line-height: 37px;
  margin-bottom: 20px;
}
body div.main div.right div.text .horizontal-dash {
  margin: 0 auto;
  width: 231px;
  height: 1px;
  background-color: #FFF;
}
body div.main div.right div.text .description {
  margin: 20px auto 0 auto;
  max-width: 310px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16.8541px;
  line-height: 20px;
  text-align: center;
}
body div.about-us div.left img {
  width: 100%;
  height: auto;
}
body div.about-us div.left div.about-us-1 {
  margin-top: -146.64px;
}
body div.about-us div.right {
  margin-top: 40px;
  margin-bottom: 30px;
  padding-left: 100px;
}
body div.about-us div.right .heading {
  font-size: 36px;
  line-height: 46px;
}
body div.about-us div.right .description {
  margin-top: 42px;
  font-size: 20.2342px;
  line-height: 24px;
}
body div.about-us div.right div.buttons {
  margin-top: 92px;
}
body div.watch-video {
  padding-bottom: 60px;
  width: 1000px;
  margin: 80px auto 0 auto;
}
body div.watch-video .form img {
  margin-top: 57px;
  width: 120px;
  height: 120px;
}
body div.watch-video .form .description {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20.2342px;
  line-height: 24px;
}
body div.watch-video .form .description .highlighted {
  color: #D72CB0;
}
body div.watch-video .form .form-group {
  margin-top: 32px;
}
body div.watch-video .form .form-group input {
  border: 0;
  width: 476px;
  height: 56px;
  padding-left: 32px;
  background: #D5D5D5;
  border-radius: 20px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
body div.watch-video .form .form-group .button__gradient {
  position: absolute;
  z-index: -1;
  background: linear-gradient(99.05deg, rgba(188, 60, 216, 0.5) 0.07%, rgba(223, 48, 141, 0.5) 106.32%);
  opacity: 0.6;
  filter: blur(30px);
  border-radius: 30px;
}
body div.watch-video .form .form-group button {
  margin: 0 0 0 35.05px;
  border: 0;
  width: 150px;
  height: 56px;
  background: linear-gradient(99.05deg, #BC3CD8 0.07%, #E136DA 106.32%);
  border-radius: 30px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18.6528px;
  line-height: 23px;
  color: #FFFFFF;
}
body div.watch-video .heading {
  margin-top: 100px;
  font-family: "Orbitron", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 64px;
  color: #212126;
}
body div.watch-video .player {
  margin-top: 32px;
  width: 1000px;
  height: 465px;
  background: #171717;
  border-radius: 20px;
}

/*# sourceMappingURL=style.css.map */
